<footer class="footer">
	<section class="footer__section footer__section--top">
		<h2 class="visually-hidden">Контакты</h2>

		<div class="container footer__container">
			<a href="index.html" class="logo footer__logo">
				<span class="visually-hidden">На главную</span>
				<img src="img/logo.webp" class="logo__image" width="138" height="68" alt="Мастер Класс">
			</a>

			<div class="contacts footer__contacts">
				<a href="tel:+74732471778" class="contacts__link contacts__link--phone">
					+7 (473) 247 17 78
				</a>

				<a href="mailto:mastervrn@mail.ru" class="contacts__link contacts__link--email">
					mastervrn@mail.ru
				</a>

				<a href="https://yandex.ru/maps/193/voronezh/house/volgogradskaya_ulitsa_48/Z0AYdAFmSU0HQFtrfXp1dnthbA==/?ll=39.273539%2C51.648724&z=13.29"
				   class="contacts__link contacts__link--address">
					Воронеж, ул. Волгоградская, д.48
				</a>
			</div>

			<div class="social-wrapper footer__social-wrapper">
				<a href="#" class="social-link">
					<svg width="22" height="17" viewBox="0 0 22 17">
						<use xlink:href="img/sprite.svg#telegram"></use>
					</svg>

					<span class="visually-hidden">Мы в Telegram</span>
				</a>

				<a href="#" class="social-link">
					<svg width="21" height="21" viewBox="0 0 21 21">
						<use xlink:href="img/sprite.svg#whatsapp"></use>
					</svg>

					<span class="visually-hidden">Мы в Whatsapp</span>
				</a>
			</div>
		</div>
	</section>

	<section class="footer__section footer__section--bottom">
		<h2 class="visually-hidden">Копирайт</h2>

		<div class="container footer__container">
			<p class="copyright">ООО «Мастер Класс», 2002 — 2023</p>
			<a href="https://intrid.ru/" class="intrid">made in INTRID</a>
		</div>
	</section>
</footer>