.flex {
    display: flex;
}

.flex--vertical {
    flex-direction: column;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--gap,
.flex--gap-small {
    gap: 10px;
}

.flex__order-1 {
    order: 1;
}

.flex__order-2 {
    order: 2;
}

.flex__order-3 {
    order: 3;
}

.flex__order-4 {
    order: 4;
}

.flex__order-5 {
    order: 5;
}

@media (min-width: 900px) {
    .flex--gap {
        gap: 30px;
    }

    .flex--gap-small {
        gap: 15px;
    }

    .flex--md-horizontal {
        flex-direction: row;
    }

    .flex__order-md-4 {
        order: 4;
    }

    .flex__order-md-5 {
        order: 5;
    }
}