.intro {
    position: relative;
}

.intro::after {
    width: 112px;
    height: 53px;

    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;

    content: "";

    background: #F8D548 url("../img/logo-kompo.webp") no-repeat center/80%;
    border-radius: 5px 20px;
}

.intro__slide {
    padding: 88px 25px;

    border-radius: 20px;
    overflow: hidden;
}

.intro__slide::before {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: "";

    background: linear-gradient(89.72deg, rgba(9, 9, 9, 0.8) 0.89%, rgba(9, 9, 9, 0) 99.75%);
}

.intro__title {
    margin: 0 0 14px;

    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
}

.intro__paragraph {
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.intro__picture {
    width: 100%;
    height: 100%;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    filter: blur(3.5px);
}

.intro__image {
    width: auto;
    height: auto;
    max-width: initial;
    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
    .intro::after {
        width: 191px;
        height: 90px;

        border-radius: 10px 40px;
    }

    .intro__slide {
        padding: 90px 70px 50px;

        border-radius: 40px;
    }

    .intro__title {
        max-width: 60%;
        margin-bottom: 20px;

        font-size: 58px;
        line-height: 70px;
    }

    .intro__paragraph {
        max-width: 50%;

        font-size: 20px;
        line-height: 30px;
    }
}