.paragraph {
    margin: 0;

    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.paragraph--description {
    font-size: 14px;
    line-height: 21px;
    color: #797979;
}

.paragraph--mb {
    margin-bottom: 15px;
}

@media (min-width: 900px) {
    .paragraph--mb {
        margin-bottom: 20px;
    }
}