.social-link {
    width: 38px;
    height: 38px;
    border: 1px solid #343434;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    background-color: #343434;
    border-radius: 50%;
    transition: all 200ms linear;
}

.social-link:hover {
    color: #343434;

    background-color: #FFFFFF;
}