.text-input {
    padding: 12px 30px;
    border: 1px solid var(--dark-grey-color);
    width: 100%;

    font-size: 20px;
    line-height: 30px;
    color: var(--dark-grey-color);

    border-radius: 10px;
}

.text-input::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: #A2A2A2;
}

.text-input:placeholder-shown {
    border-color: var(--dark-red-color);
}

.text-input:focus {
    outline: none;
    border-color: var(--dark-grey-color);
}

.text-input[aria-invalid="true"] {
    color: var(--light-red-color);
    border-color: var(--light-red-color);
}